/* Botão da Navbar */
.custom-btn-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(255, 255, 0); /* Fundo sólido amarelo */
  border: none; /* Remove a borda */
  color: rgb(0, 20, 80); /* Texto azul-escuro */
  font-weight: 400;
  padding: 14px 24px; /* Aumenta o tamanho */
  border-radius: 0px; /* Bordas arredondadas suaves */
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
  width: 100%; /* Ocupa toda a largura disponível */
  max-width: 500px; /* Limita a largura máxima */
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}

/* Ícone dentro do botão */
.custom-btn-navbar i {
  font-size: 20px;
}

/* Efeito hover */
.custom-btn-navbar:hover {
  background-color: rgb(230, 230, 0); /* Tom de amarelo um pouco mais escuro */
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(255, 255, 0, 0.3);
}
/* Botão do Banner */
.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  gap: 8px;
  background-color: rgb(255, 255, 0); /* Cor de fundo preenchida */
  border: 2px solid rgb(255, 255, 0); /* Mantendo a borda com a mesma cor */
  color: rgb(0, 20, 80, 1); /* Cor do texto */
  font-weight: 400;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 18px;
  transition: all var(--transition-speed) ease;
  width: 90%;
  max-width: 400px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: scale(1);
  will-change: transform;
  margin: 5px auto;
  box-sizing: border-box;
  text-shadow: none;
}

.custom-btn i {
  font-size: 20px;
}

.custom-btn:hover {
  background-color: rgb(
    230,
    230,
    0
  ); /*mudando a cor do hover para uma cor mais escura do que o fundo original, para dar um efeito de clique*/
  color: rgb(0, 20, 80, 1);
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(255, 255, 0, 0.3);
}

/* Container do botão */
.btn-container {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Botão da página contato */
.contato-form button {
  background-color: yellow;
  color: #06133a;
  padding: 12px 20px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contato-form button:hover {
  background-color: var(--nav-bg-end);
  color: yellow;
}
