/* ==========================================================================
   Main
   ========================================================================== */


/* Ajuste de margens laterais */
.container-fluid {
  max-width: 1800px; /* Aumenta a largura do conteúdo */
  margin: 0 auto; /* Centraliza */
  padding: 0 5px; /* Reduz o espaço nas laterais */
}

/* Seção Hero */
.hero {
  background: url("/static/img/Banner.jpg") no-repeat center center/cover;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  position: relative;
  font-weight: var(--font-weight-light);
}

/* Overlay azul escuro */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 18, 74, 0.5); /* Azul escuro com 40% de opacidade */
}

.hero-content {
  color: yellow;
  padding: 20px;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-light);
  position: relative; /* Garante que o conteúdo fique acima do overlay */
  z-index: 1;
}

.hero a {
  margin-top: 15px;
}

/* Conteúdo Principal */
.content {
  flex: 1;
  font-weight: var(--font-weight-light);
  min-height: calc(100vh - 80px - 60px);
}

#sobre-nos,
#contato,
#galeria,
#faq {
  scroll-margin-top: 100px;
}