html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Faz o conteúdo ocupar todo o espaço disponível */
}

footer {
    width: 100%;
    background-color: #212529; /* Mantém o estilo do Bootstrap */
    color: white;
    text-align: center;
    padding: 10px 0;
    border: none;
    margin-top: auto; /* Faz o footer ir para o final */
}
