/* ==========================================================================
   Main
   ========================================================================== */

/* Seção Hero */
.hero {
  background: url("/static/img/Banner.jpeg") no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  position: relative;
  font-weight: var(--font-weight-light);
}

.hero-content {
  color: rgb(255, 255, 0);
  padding: 20px;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight-light);
}

.hero a {
  margin-top: 15px;
}

/* Conteúdo Principal */
.content {
  flex: 1;
  font-weight: var(--font-weight-light);
  min-height: calc(100vh - 80px - 60px);
}