<footer class="custom-footer">
    <div class="container">
        <div class="row">
            <!-- Endereços -->
            <div class="col-md-3">
                <h5>Endereços</h5>
                <p><strong>Loja Fisíca:</strong> Av. Moacir da Silveira, 1175<br>Jd. Isaura - Santana de Parnaíba - SP, CEP: 06516-050</p>
                <p><strong>Escritório:</strong> Est. São Francisco, S/N<br>Jd. Wanda - Taboão da Serra - SP, CEP: 06765-001</p>
            </div>

            <!-- Links da Navbar -->
            <div class="col-md-3">
                <h5>Links</h5>
                <ul class="footer-links">
                    <li><a href="{% url 'home' %}#sobre-nos">Sobre Nós</a></li>
                    <li><a href="{% url 'galeria' %}">Galeria</a></li>
                    <li><a href="{% url 'home' %}#faq">FAQ</a></li>
                    <li><a href="{% url 'contacts' %}">Contato</a></li>
                </ul>
            </div>

            <!-- Redes Sociais -->
            <div class="col-md-3">
                <h5>Redes Sociais</h5>
                <ul class="social-links">
                    <li>
                        <a href="https://www.facebook.com/soberanovidros" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-f"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/soberanovidros1/" target="_blank" rel="noopener">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=5511932247451" target="_blank" rel="noopener">
                            <i class="fab fa-whatsapp"></i> WhatsApp
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Horário de Atendimento -->
            <div class="col-md-3">
                <h5>Horário de Atendimento</h5>
                <p>Seg - Sex: 08:00 - 18:00</p>
                <p>Sáb: 08:00 - 13:00</p>
                <p>Dom: Fechado</p>
            </div>
        </div>

        <!-- Direitos Autorais -->
        <div class="footer-bottom">
            <p>&copy; 2025 Soberano Vidros. Todos os direitos reservados.</p>
            <p>Desenvolvido por <a href="https://www.linkedin.com/in/thiago-da-silva-3623a9228/" target="_blank" class="text-light" rel="noopener">Thiago da Silva</a></p>
        </div>
    </div>
</footer>
